# https://github.com/marketplace/actions/create-pull-request

name: Update Importmap

on:
  schedule:
    - cron: '0 13 * * THU'  # Runs at 13:00 every Thursday (UTC)
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
          - info
          - warning
          - debug

jobs:
  update-importmap:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ssh-key: ${{ secrets.SSH_KEY }}
          lfs: true
          submodules: true
      - uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: npm

      - name: Install dependencies
        run: npm ci --ignore-scripts --no-audit --fund-no

      - name: Build
        run: npm run build

      - name: Get Updates
        run: npm run update

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v7
        with:
          title: 'Update importmap.json'
          branch: patch/update-importmap
          branch-suffix: short-commit-hash
          committer: ${{ github.actor }} <shgysk8zer0@users.noreply.github.com>
          author: ${{ github.actor }} <shgysk8zer0@users.noreply.github.com>
          add-paths: importmap.json
          signoff: true
          token: ${{ secrets.PR_TOKEN }}
          # delete-branch: true
          # reviewers: shgysk8zer0
          assignees: shgysk8zer0
